input,button,body {
    font-family: "PT Sans", "Arial", sans-serif;
}

body {
    margin: 0;
    text-transform: uppercase;
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 21px;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h2,h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

.clearfix: :after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.main-header {
    position: relative;
    text-align: left;
    font-size: 0;
}

.main-header ul {
    padding: 0;
}

.main-header li {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    min-height: 56px;
    text-align: center;
    vertical-align: baseline;
}

.main-header a {
    display: inline-block;
    margin-top: 17px;
    vertical-align: baseline;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
}

.main-header li: nth-of-type(4n+1),.main-header li: nth-of-type(4n+2) {
    padding-left: 72px;
    text-align: left;
}

.main-header li: nth-of-type(2) {
    margin-right: 20%;
}

.main-header li: nth-of-type(4n+3),.main-header li: nth-of-type(4n+4) {
    padding-right: 72px;
    text-align: right;
}

.main-header a:hover {
    color: #81b3d2;
}

.main-header a:active {
    color: #b2b2b2;
}

.header-active a {
    color: #766357;
    cursor: default;
}

.header-active a:hover {
    color: #604e43;
}

.header-active a:active {
    color: #dbd8d5;
}

.logo {
    position: absolute;
    z-index: 10;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.logo a {
    margin-top: 0;
}

.intro {
    box-sizing: border-box;
    width: 1200px;
    min-height: 510px;
    margin-bottom: 29px;
    padding-top: 76px;
    background-color: #5496bd;
    background: url("../img/border.png") bottom no-repeat,url("../img/intro-bg.jpg") no-repeat;
}

.heading {
    text-align: center;
}

.title-secondary {
    width: 450px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-bottom: 52px;
}

/*==========
reason-and-features
==========*/

.sedona-reasons {
    margin-bottom: 55px;
    text-align: center;
}

.block,.features-column {
    float: left;
    width: 400px;
}

.block {
    min-height: 256px;
    background-color: #eeeeee;
    text-align: center;
}

.block h2 {
    width: 151px;
    margin: 0 auto;
    margin-top: 54px;
}

.reason h2 {
    margin-top: 47px;
}

.block p {
    width: 308px;
    margin: 0 auto;
    margin-top: 20px;
}

.reason-title {
    padding-bottom: 27px;
}

.block .reason-nmb {
    margin-top: 25px;
    text-align: center;
}

.reason-nmb: :before {
    content: "— ";
}

.reason-nmb: :after {
    content: " —";
}

.features-column {
    position: relative;
    width: 33.3%;
    min-height: 330px;
    text-align: center;
}

.features-column h2 {
    margin-top: 161px;
}

.features-column p {
    width: 275px;
    margin: 0 auto;
    margin-top: 24px;
}

.features-column: nth-of-type(2) p {
    width: 300px;
}

.feature-title: :before {
    position: absolute;
    top: 60px;
    left: 50%;
    display: block;
    content: "";
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url("../img/features-icon.png");
    background-repeat: no-repeat;
}

.housing: :before {
    width: 80px;
    height: 92px;
    background-position: -103px -10px;
}

.food: :before {
    top: 61px;
    left: calc(50% + 1px);
    width: 80px;
    height: 92px;
    background-position: -10px -10px;
}

.souvenirs: :before {
    top: 56px;
    left: calc(50% + 2px);
    width: 80px;
    height: 92px;
    background-position: -190px -10px;
}

[class^="reason-image-block"] {
    width: 800px;
    min-height: 256px;
    background-color: #5496bd;
}

.sedona-town {
    float: right;
}

.devils-bridge {
    float: left;
}

.sedona-town {
    float: left;
    color: #ffffff;
    background-color: #81b3d2;
}

.devils-bridge {
    float: right;
    color: #ffffff;
    background-color: #81b3d2;
}

.reasons: last-of-type h2 {
    margin-top: 47px;
}

.reasons: last-of-type p {
    width: 278px;
}

/*==========
search
==========*/

.search {
    padding-top: 24px;
    position: relative;
    text-align: center;
    font-size: 0;
}

.search h3 {
    font-size: 30px;
    font-weight: 700;
}

.search .subtitle {
    padding-bottom: 47px;
}

.subtitle span {
    display: block;
}

.search-btn {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 568px;
    min-height: 86px;
    margin: 0 auto;
    padding-top: 32px;
    text-decoration: none;
    color: #ffffff;
    background-color: #766357;
    font-size: 21px;
    font-weight: 700;
    z-index: 10;
}

/*==========
modal-form
==========*/

.modal-form {
    position: absolute;
    z-index: 10;
    left: 316px;
    display: block;
    visibility: visible;
    box-sizing: border-box;
    width: 568px;
    min-height: 395px;
    padding: 55px;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.modal-form-hide {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
}

.modal-form label {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 37px;
    text-align: left;
    vertical-align: baseline;
    font-size: 14px;
    font-weight: 700;
}

.modal-form label: last-of-type {
    padding-right: 25px;
    text-align: right;
}

.modal-form input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    min-height: 38px;
    padding: 0 12px;
    text-align: left;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 700;
}

.modal-form input:hover {
    background-color: #ebebeb;
}

.modal-form input:focus {
    outline: 2px solid #e5e5e5;
    background-color: #ffffff;
}

.date-select-wrapper {
    position: relative;
    display: inline-block;
    width: 75%;
    vertical-align: baseline;
}

.date-select {
    position: absolute;
    top: 50%;
    right: 1px;
    display: block;
    width: 38px;
    height: 38px;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url(../img/icon-calendar.png);
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
}

.date-select:hover {
    background-image: url(../img/icon-calendar-hvr.png);
}

.date-select:active {
    background-image: url(../img/icon-calendar-down.png);
}

.form-counter-wrapper {
    display: inline-block;
    vertical-align: baseline;
    width: 25%;
    min-height: 38px;
}

.form-counter-wrapper > input {
    width: 33.3%;
    text-align: center;
}

.form-counter-wrapper > a {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 33.3%;
    min-height: 38px;
    vertical-align: top;
    text-decoration: none;
    color: #a9a9a9;
    background-color: #f2f2f2;
    font-size: 0;
}

.form-counter-wrapper:hover > a,.form-counter-wrapper:hover > input {
    background-color: #ebebeb;
}

.form-counter-wrapper > input:focus {
    outline: 2px solid #e5e5e5;
    background-color: #ffffff;
}

.form-counter-less {
    background-image: url(../img/mns.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.form-counter-more {
    background-image: url(../img/pls.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.form-counter-less:hover {
    background-image: url(../img/mns-hvr.png);
}

.form-counter-more:hover {
    background-image: url(../img/pls-hvr.png);
}

.form-counter-less:active {
    background-image: url(../img/mns-down.png);
}

.form-counter-more:active {
    background-image: url(../img/pls-down.png);
}

.submit-btn {
    position: absolute;
    bottom: 55px;
    left: 50%;
    display: block;
    width: 458px;
    min-height: 58px;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    outline: none;
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: 700;
}

.submit-btn:hover {
    background-color: #669ec0;
}

.submit-btn:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.map-block {
    width: 1200px;
    height: 593px;
    background-image: url(../img/map.jpg);
}

/*==========
footer
==========*/

.footer-hashtag,.footer-social,.footer-copyright {
    float: left;
    box-sizing: border-box;
    width: 400px;
    min-height: 120px;
    padding-top: 48px;
    padding-left: 4px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.footer-hashtag {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

.footer-copyright {
    padding-top: 41px;
    padding-right: 2px;
}

.html-logo {
    display: inline-block;
    width: 115px;
    height: 40px;
    margin-left: 5px;
    vertical-align: middle;
    background-image: url("../img/html-logo.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
    font-size: 0;
}

.html-logo:hover {
    width: 115px;
    height: 40px;
    background-position: -10px -69x;
}

.html-logo:active {
    width: 115px;
    height: 40px;
    background-position: -10px -128px;
}

.footer-social {
    padding-top: 36px;
    font-size: 0;
}

.social {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    vertical-align: top;
    background-color: #81b3d2;
}

.social:hover {
    background-color: #669ec0;
}

.social:active {
    background-color: #5496bd;
}

.social: :before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url("../img/social-icon.png");
    background-repeat: no-repeat;
}

.social:active: :before {
    opacity: 0.3;
}

.icon-tw: :before {
    width: 17px;
    height: 15px;
    background-position: -82px -22px;
}

.icon-fb: :before {
    top: calc(50% - 2px);
    width: 10px;
    height: 19px;
    background-position: -26px -22px;
}

.icon-yb: :before {
    width: 20px;
    height: 16px;
    background-position: -140px -22px;
}

.main-footer-index {
    position: relative;
}

.main-footer-index .container {
    position: absolute;
    bottom: 0;
}

/*==========
filter
==========*/

.filter {
    box-sizing: border-box;
    min-height: 217px;
    padding-top: 28px;
    padding-left: 72px;
    padding-right: 72px;
    background: #5496bd url("../img/catalog-bg.jpg");
    color: #ffffff;
}

.filter-form {
    position: relative;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.infrastructure,.hotel {
    width: 255px;
    float: left;
}

.filter legend {
    font-size: 16px;
    font-weight: 700;
}

.infrastructure label ,.hotel label {
    display: block;
    margin-bottom: 25px;
}

.infrastructure legend,.hotel legend {
    margin-bottom: 25px;
}

.price legend {
    margin-bottom: 10px;
}

.price {
    float: right;
    padding-right: 72px;
    color: #ffffff;
}

.price-range-field {
    position: relative;
    margin-left: 10px;
    font-size: 0;
}

.price-range-field: :after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 22px;
    content: "";
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-right: 1px solid #ffffff;
    background-color: #ffffff;
}

.price-range-field,.filter-btn {
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
}

.price-range-field {
    width: 314px;
    padding: 5px 0;
    text-align: left;
}

.price-range-field input {
    width: 65px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    background-color: transparent;
}

label[for="start"] {
    margin-left: 65px;
}

.min-prace {
    margin-right: 57px;
}

.min-prace:focus,.max-prace:focus {
    outline: none;
}

.price-range-slider {
    position: relative;
    min-height: 22px;
    margin-bottom: 32px;
    margin-left: 10px;
}

.slider-fullbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #918381;
}

.slider-bar {
    width: 80%;
    height: 2px;
    border-bottom: 2px solid #ffffff;
}

.slider-point {
    position: absolute;
    top: 11px;
    width: 20px;
    height: 20px;
    content: "";
    cursor: pointer;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
}

.slider-min-point {
    left: 0;
}

.slider-max-point {
    right: 46px;
}

.slider-point: :before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    content: "";
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: #ababab;
}

.slider-point:hover: :before {
    background-color: #1c4f80;
}

.filter-btn {
    padding: 8px 34px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 26px;
    right: 94px;
}

.filter-btn:hover {
    color: #000000;
    background-color: #ffffff;
}

.infrastructure input[type="checkbox"],.hotel input[type="checkbox"] {
    display: none;
}

.infrastructure input[type="checkbox"] + label,.hotel input[type="checkbox"] + label {
    position: relative;
    padding-left: 41px;
    cursor: pointer;
}

.infrastructure input[type="checkbox"] + label: :before,.hotel input[type="checkbox"] + label: :before {
    box-sizing: border-box;
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 22px;
    height: 22px;
    content: "";
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.infrastructure input[type="checkbox"]: checked + label: :after,.hotel input[type="checkbox"]: checked + label: :after {
    content: "";
    display: block;
    width: 26px;
    height: 21px;
    background-image: url("../img/checkbox-checked.png");
    position: absolute;
    top: -3px;
    left: 3px;
}

/*==========
search-result-sort
==========*/

.sort-count {
    display: inline-block;
    width: 160px;
    vertical-align: baseline;
}

.sort-title {
    margin-right: 36px;
    font-size: 12px;
    font-weight: 400;
}

.sort-list {
    display: inline-block;
    padding: 0;
    vertical-align: baseline;
    font-size: 0;
}

.sort-list li {
    display: inline-block;
    margin-right: 33px;
    list-style: none;
    vertical-align: baseline;
    font-size: 12px;
    font-weight: 400;
}

.sort-list a: not(.sort-type-active) {
    border-bottom: 1px dotted #81b3d2;
    line-height: 14px;
}

.search-result-sort {
    position: relative;
    box-sizing: border-box;
    min-height: 86px;
    padding-top: 32px;
    padding-left: 72px;
    border-bottom: 1px solid #e5e5e5;
}

.sort-list a {
    text-decoration: none;
    color: #cccccc;
}

.sort-list .sort-type-active,.sort-list a:hover {
    color: #81b3d2;
}

.sort-list a:active: not(.sort-type-active) {
    color: #000000;
}

.arrow-block {
    position: absolute;
    top: calc(50% + 1px);
    right: 1px;
    margin-right: 70px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sort-arrow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    color: #cccccc;
    font-size: 14px;
    font-weight: 400;
}

.sort-arrow:hover: not(.arrow-active) {
    color: #000000;
}

.sort-arrow:active: not(.arrow-active) {
    color: #81b3d2;
}

.sort-arrow: last-of-type {
    margin-left: 6px;
}

.arrow-active {
    color: #81b3d2;
    cursor: default;
}

/*==========
search-result-content
==========*/

.search-results-content {
    list-style: none;
    padding: 0 72px;
    margin: 0;
    box-sizing: border-box;
}

.search-result-card {
    position: relative;
    min-height: 151px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 0;
}

.card-title {
    margin: -3px 0 10px;
}

.card-title a {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}

.card-title a:hover {
    color: #81b3d2;
}

.card-title a:active {
    color: #cacaca;
}

.result-card-image,.result-card-description,.result-card-ratings {
    display: inline-block;
    vertical-align: top;
}

.result-card-description {
    width: 720px;
    margin: 30px 58px 23px 30px;
}

.result-card-ratings {
    text-align: right;
    margin-top: 30px;
}

.result-card-image {
    margin-top: 30px;
}

.type-and-more,.price-and-book {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.result-info {
    width: 231px;
}

.result-info span {
    display: block;
    min-width: 110px;
    margin-right: 5px;
    padding-bottom: 6px;
    font-size: 14px;
    font-weight: 400;
}

.card-more,.card-book {
    display: inline-block;
    box-sizing: border-box;
    min-width: 110px;
    min-height: 27px;
    margin-top: 8px;
    margin-right: 5px;
    padding: 3px 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    outline: none;
    font-size: 14px;
    font-weight: 700;
}

.card-more {
    background-color: #81b3d2;
}

.card-more:hover {
    background-color: #669ec0;
}

.card-more:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.card-book {
    background-color: #766357;
}

.card-book:hover {
    background-color: #604e43;
}

.card-book:active {
    color: #857871;
    background-color: #503e33;
}

.ratings-stars {
    list-style: none;
    padding: 0 0 37px;
}

.ratings-stars li {
    display: inline-block;
    width: 18px;
    height: 17px;
    margin-right: 5px;
    color: #81b3d2;
    background-image: url(../img/star.png);
}

.ratings-stars li: last-child {
    margin-right: 0;
}

.rating-level {
    display: inline-block;
    min-height: 27px;
    padding: 0 14px;
    text-align: center;
    color: #666666;
    background-color: #f2f2f2;
}

.rating-level span {
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
}